/* CSS/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d1d1d1;
  /*overflow: hidden;*/
}

aside > div {
  background-color: yellow;
  display: flex;
}
/* Barra superior */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  color: white;
  padding: 10px 20px;
}

.logoIF {
  width: 7em;
}

.top-links{
  background-color: rgba(126, 171, 197, 0.753);
  border-radius: 7px;
  padding: 8px;
}
.top-links a {
  margin-left: 40px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
}

.top-links a:hover {
  text-decoration: underline;
  border-radius: 4px;
}

/* Layout principal */
.container {
  display: flex;
  min-height: calc(100vh - 60px); /*Altura ajustada pela barra superior*/
  
}

.sidebar {
  width: 220px;
  background-color: #004080;
  color: white;
  padding-right: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
  margin-left: 0px;
  padding: 3px;
}

.sidebar ul li {
  margin-bottom: 15px;
  background-color: rgb(68, 90, 163);
  padding: 0.7em;
  border: 2px solid rgb(14, 14, 82);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sidebar ul li:hover{
  margin-bottom: 15px;
  background-color: #b6c5f0ce;
  padding: 0.7em;
  border: 2px solid rgb(14, 14, 82);
  border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 40px;
  background-color: #e9e7e7;
}

.content h1 {
  color: #004080;
}

.content section {
  margin-top: 20px;
}

.sidebar-direita{
  width: 20px;
  overflow: hidden;
  background-color: #67696B;
  color: rgba(0, 0, 0, 0);
}
.sidebar-direita:hover{
  width: 100px ;
  background-color: #67696B;
  padding-left: 20px;
  color: black;
}

.Recursos-Extras{
  background-color: #67696b;
  width: 100vw;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: -16.5px;
}
.Recursos-Extras a{
  text-decoration: none;
  color: white;
  padding: 20px;
}

.extras-options > ul{
  margin: 20px;
  list-style-type: none;
  
}
.extras-options {
background-color: gray;
border-radius: 12px;
padding: 12px;
}